body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .cartel {
    background-color: #ffffff;
    padding: 50px 80px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }

  .cartel h1 {
    font-size: 32px;
    margin: 0 0 10px;
    color: #333;
  }

  .cartel p {
    font-size: 20px;
    color: #666;
  }

  .icon {
    font-size: 40px;
    color: #fbc02d;
    margin-bottom: 10px;
  }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
 html{
    font-size: 10px;
    font-family: monospace;
 }

 :root {
    --color-azul: blue;
    --color-verde: green;
    --color-beige: beige;

    --titulo-h1: 2.5rem;
    --titulo-h2: 1.8rem;
    --titulo-h3: 1.5rem;
    --parrafo: 14rem;
    --spam: 12rem;
 }