
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
 html{
    font-size: 10px;
    font-family: monospace;
 }

 :root {
    --color-azul: blue;
    --color-verde: green;
    --color-beige: beige;

    --titulo-h1: 2.5rem;
    --titulo-h2: 1.8rem;
    --titulo-h3: 1.5rem;
    --parrafo: 14rem;
    --spam: 12rem;
 }